.titulo {
  font-family: "Vidaloka", serif;
  font-weight: bold;
  font-size: 50px;
  font-style: normal;
}

/* Contenedor principal */

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  .logo{
    display: flex;
    object-fit: cover;
    height: auto;
    max-width: 300px;
  }
  
  /* Estilo compartido entre las secciones */
  .form-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .form-section label{
    text-align: center;
    display: block;
  }



  
  /* Sección de Login */
  .left-section {
    background-color: #f4a523;
    color: black;
  }
  
  .left-section form {
    width: 100%;
    max-width: 300px;
  }
  
  .left-section input,
  .right-section input {
    width: 100%;
    padding: 0.8em;
    margin: 0.5em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .left-section button,
  .right-section button {
    width: 100%;
    background-color: black;
    padding: 0.5em;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: #f4a523;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    transition: background-color 0.3s ease;
    margin-top: 30px;
  }
  
  .input-container {
    display: flex;
    align-items: center; /* Alinea el icono y el input verticalmente */
    width: 100%;
    justify-items: space-between;
    margin-left: -10px;
  }
  
  .input-container input{
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    height: 40px;
  }

  .left-section button:hover,
  .right-section button:hover {
    background-color: #333;
  }
  
  /* Sección de Registro */
  .right-section form{
    width: 100%;
    max-width: 300px;
  }
  .right-section {
    background-color: #f4a523;
    color: black;
  }
  
  /* Botón para alternar formulario */
  .toggle-btn {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0;
  }
  
  /* Panel central negro con el logotipo */
  .logo-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: black;
    color: #f4a523;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    z-index: 10;
  }
  
  .logo-panel h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  .logo-panel p {
    margin: 0.5rem 0;
  }
  
  /* Movimiento del panel */
  .logo-panel.move-left {
    transform: translateX(0); /* Cubre el formulario de Login */
  }
  
  .logo-panel.move-right {
    transform: translateX(100%); /* Cubre el formulario de Registro */
  }
  